---
title: PeopleHunt
desc: A service to find the best qualified canidates without all the mess.
keywords: peoplehunt
---

%link{:href=>"stylesheets/landing.css", :rel=>'stylesheet', :type=>'text/css'}
%body
    %a#homeIcon{:href=>"/PeopleHuntSite/"}
        %i.fa.fa-2x.fa-users
    #title.center.padded
        %h1
            PeopleHunt
        %h4
            Curated Lists of Peer-Reviewed Canadidates
    #about.center
        %h2
            What is PeopleHunt?
        %p
            PeopleHunt is a directory of the best canidates available, backed by
            peer recommendations. PeopleHunt is currently under development @
            %a{:href=>"https://assembly.com/"}Assembly
    .center
        %h4
            Sign Up to Find Out More!
        :plain
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="//assembly.us10.list-manage.com/subscribe/post?
                u=b22c9fd3c6e6fc0f111a2d0fa&amp;id=7871318952"
                method="post" id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate" target="_blank" novalidate>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                    placeholder="Email Address" required>
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_b22c9fd3c6e6fc0f111a2d0fa_7871318952" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <br>
                        <input type="submit" value="Subscribe" name="subscribe"
                        id="mc-embedded-subscribe" class="btn btn-default">
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
    #features.center
        .featured
            %i.center.fa.fa-3x.fa-users
            %h4.featureTitle
                Find New Talent
        .featured
            %i.center.fa.fa-3x.fa-building-o
            %h4.featureTitle
                Get Hired
        .featured
            %i.center.fa.fa-3x.fa-user-plus
            %h4.featureTitle
                Get Recommended
